

*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}
.aboutContainer{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 10px;
    
}
.aboutNav{
    
    height: 40px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    
    
}
.aboutNav .aboutContainer{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;

}
img{
    max-width: 600px;
}
section .aboutContainer{
    display: grid;
    place-items: center;
    
}
.aboutHeading{
    font-size: 55px;
    color: #0071f2;
}
.image{
    
    border-radius: 50px;
    height: 75px;
    width: 75px;
}
.content .aboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    
    margin-bottom: 10px;
    
}
.paragraphContent{
    font-size: 20px;
    text-align: left;
    margin-top: 5px;
    margin: 0 20px;
    color: #2f2e41;
}
.contactForm .aboutContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    
    background-color: whitesmoke;
}
form{
    display: grid;
    place-items: center;
    
}
input{
    width: 300px;
    margin-bottom: 10px;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid transparent;
    padding-left: 5px;
}
.contactButton{
    margin-top: 20px;
    padding: 8px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border: 1px solid transparent;
}
.contactButton:hover{
    border: 1px solid white;
    background-color: lightgray;
}
.textArea{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid transparent;
    padding-left: 5px;
    width: 97% !important;
    
}
.detail{
    display: grid;
    place-items: center;
}
.detailImg{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team{
    border-radius: 50px;
    background-color: whitesmoke;
}
.teamHeading{
    color: gray;
}
.imgContainer{
    
    display: grid;
    place-items: center;
    margin: 5px;
}
.small{
    font-size: 10px;
    color: black;
    
}
.iconz{
    color: #000;
}
.iconz:hover{
    color: white;
}
.map .aboutContainer{
    display: grid;
    place-items: center;
    height: 700px;
    
    margin-top: 10px;
    background-color: whitesmoke;
    
}
iframe{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.devices{
    color: #0071f2;
    margin-right: 3px;
}
@media (max-width:768px) {
    .contactForm .aboutContainer{
        display: flex;
        flex-direction: column;
        height: 600px;
    }  
    
     iframe{
        width: 700px;
     }
}
@media (max-width:480px) {
.aboutHeading{
    font-size: 30px;
}
.blogging{
    width: 300px;
}
.content .aboutContainer{
    display: flex;
    flex-direction: column;
}
.paragraphContent{
    text-align: center;
    font-size: 15px;
}
.teamHeading{
    text-align: center;
}
.textArea{
    width: 76% !important;
}
iframe{
    width: 400px;
}
}
@media (max-width:400px) {
    iframe{
        width: 300px;
    }
    
}